/* /===== VARIABLES CSS =====/ */

.logo{
    font-size: 36px;
    letter-spacing: 5px;
    font-family: var(--sub-heading-font);
    font-weight: bolder;
    margin:0px .5rem;
    width: max-content;
    color: #121212;
    text-decoration: none;
}

@media only screen and (max-width: 900px){
    .logo{
        font-size: 25px;
        letter-spacing: 3px;
        width: max-content;
    }
}