/* /===== VARIABLES CSS =====/ */

.logo{
    font-size: 36px;
    letter-spacing: 5px;
    font-family: var(--sub-heading-font);
    font-weight: bolder;
    margin:0px .5rem;
    width: max-content;
}
.logoImg{
    height: 2rem;
    width: 8rem;
}
.beta_logo{
    color: #607dff;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    left: -15px;
}

@media only screen and (max-width: 900px){
    .logo{
        font-size: 25px;
        letter-spacing: 3px;
        width: max-content;
    }
}