.body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(91vh - 13px);
    width: 100%;
}
.sideBar{
    height:100%;
    width: 20%;
    overflow-y: auto;
}
.sideBar::-webkit-scrollbar{
    display: none;
}
.mainContent{
    height: 100%;
    width: 50% ;
    overflow-y: auto;
}
.menuBar{
    height: 100%;
    width: max-content;
}
.line{
    height: 95%;
    width: 1px;
    background: black;
}
.mainContent::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 1100px){
    .mainContent{
        width: 60%;
    }
    
}
@media only screen and (max-width: 900px){
    .sideBar{
        width: 0px;
        display: none;
    }
    .menuBar{
        width: 0;
        display: none;
    }
    .line{
        display: none;
    }
    .mainContent{
        width: 100%;
    }
    .body{
        height: 100%;
        width: 100%;
    }
}