.badgeContainer {
    /* background: rgb(156, 129, 6);
    background: linear-gradient(90deg, rgba(156, 129, 6, 1) 0%, rgba(244, 212, 3, 1) 35%, rgba(255, 196, 0, 1) 92%); */
    background: rgb(255, 196, 0);
    background: linear-gradient(90deg, rgba(255, 196, 0, 1) 10%, rgba(244, 212, 3, 1) 50%, rgba(255, 196, 0, 1) 90%);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: .8rem;
    padding: 0px .4rem;
    transform: scale(.8);
    width: max-content;
}

.badgeIcon {
    color: rgb(30, 107, 202);
}

.badgeName {
    color: rgb(30, 107, 202);
    font-size: 1rem;
}