*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
/* /===== VARIABLES CSS =====/ */
:root {
    --header-height: 3rem; 
  
    /* /========== Colors ==========/ */
    --first-color: #344CB7;
    --first-color-alt: #C42130;
    --first-color-send: #DE3B49;
    --title-color: #161212;
    --text-color: #5B5757;
    --text-color-light: #8F8A8A;
    --body-color: #FEFBFB;
    --container-color: #FFF;
  
    /* /========== Font and typography ==========/ */
    --heading-font: 'Lato', sans-serif;
    --sub-heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;
    --h1-font-size: 32px ;
    --h2-font-size: 1.25rem;
    --h3-font-size: 18px;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /* /========== Font weight ==========/ */
    --fw-heading: 700;
    --fw-sub-heading: 400;
    --font-bold: 700;
  
    /* /========== Margins ==========/ */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /* /========== z index ==========/ */
  
    --z-tooltip: 10;
    --z-fixed: 100;
  }
 