.singleChallenge{
  height: 100%;
  width: 100%;
  min-height: 88vh;
}
.SingleChallengeImg{
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(to top, rgb(232, 91, 91), white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.SingleChallengeImg>img{
  height: 100%;
}

.aboutProfile{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.takeChallenge{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutProfile > span{
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.stats{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
