.cardcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  border-radius: .5rem;
  /* border: 3px solid green; */
  background: rgb(176, 202, 231);
}

.img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  /* z-index: 1; */
}

.img>img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  min-width: 16rem;
  border-radius: .5rem;
  /* z-index: 1; */
}

.des {
  /* z-index: 2; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* height: 500px; */
  width: 100%;
}

.name {
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem;
  /* border: 2px solid; */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.772) 40%, transparent);
  border-radius: .5rem;
  text-align: left;
}

.element {
  width: 80%;

}

.mentor {
  font-size: 1rem;
  font-family: var(--heading-font);
  font-weight: 350;

}

.role {
  font-size: .8rem;
  font-weight: bold;
  font-family: var(--sub-heading-font);
  margin-bottom: .5rem;
}

.mentor_List{
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.sessionListDesc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bio {
  font-family: var(--fw-paragraph);
  text-overflow: ellipsis;
  font-size: .5rem;
}

@media screen and (max-width:1100px) {}